<%- include('header'); -%>

    <div class="box" id="heading">
        
        <!-- ejs marker to render value of whichDay -->
        <h1>
            <%= listType %>
        </h1>
    </div>

    <div class="box">
        <% for(var i=0;i<newlyAddedItems.length;i++){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newlyAddedItems[i] %>
                </p>
            </div>

            <% } %>

            <form action="/" method="post" class="box">
                <input type="text" name="newItem" placeholder="Add new item" autocomplete="off">
                <button type="submit" name="list" value="<%= listType %>">+</button>
            </form>
    </div>

<%- include('footer'); -%>